<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>JS8Call RC</title>
    <script type="module" src="static/fluentui_2.5.12.min.js"></script>
    <script src="static/axios.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<div class="header">
    {{.Name}} - {{.Grid}}
</div>
<fluent-tabs activeid="directedTab">
    <fluent-tab id="directedTab">Directed</fluent-tab>
    <fluent-tab id="activityTab">Activity</fluent-tab>
    <fluent-tab-panel id="directedPanel">
        <Input id="msg-text"/>
        <Button onClick="sendMessage()">Tx</Button>
        <Button onClick="sendHB()">HB</Button>
        <Button onClick="sendCQ()">CQ</Button>
        {{range .DirectedMessages}}
        <fluent-card>
            <div>
                <H3>
                    <div style="float:left"><b>{{.From}} to {{.To}}</b> {{.SNR}}dB</div>
                    <div style="float:right">{{.LocalTime.Format "3:04PM"}}</div>
                </H3>
            </div>
            <div style="clear:right"><p>{{printf "%.6f" .DialDec}}MHz Offset: {{.Offset}}</p></div>
            <div style="clear:right">{{.Text}}</div>
        </fluent-card>
        {{end}}
    </fluent-tab-panel>
    <fluent-tab-panel id="activityPanel">
    </fluent-tab-panel>

</fluent-tabs>


<script>
    window.setInterval('location.reload()', 5*60*1000);
    function sendMessage() {
        let data = {"Message": document.getElementById("msg-text").value};

        axios(
            {
                method: "post",
                url: "/msg",
                data: JSON.stringify(data),
                headers: { "Content-Type": "application/json" }
            }
        )
        alert("Msg Request sent.")
    }
    function sendHB() {
        axios(
            {
                method: "post",
                url: "/hb"
            }
        )
        alert("HB Request sent.")
    }
    function sendCQ() {
        axios(
            {
                method: "post",
                url: "/cq"
            }
        )
        alert("CQ Request sent.")
    }
</script>
</body>
</html>